* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style-type: none; 
    max-width: 1440px;
    margin: 24px 156px;
}

.gallery-item {
    width: 360px;
    height: 200px;
}

.gallery-link{
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sl-overlay {
    background-color: rgba(46, 47, 66, 0.8) !important; 
}





.feedback-form {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-form label{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.feedback-form textarea {
    max-width: 360px;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;
    margin-bottom: 16px;
    padding: 8px 16px;
} 

.feedback-form input{
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    margin-bottom: 8px;
    padding: 8px 16px;
}

.feedback-form textarea:hover, .feedback-form input:hover{
    border: 1px solid #000;
}

.feedback-form button{
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}

.feedback-form button:hover{
    background: #6c8cff;
}

.feedback-form input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffff;
}

.feedback-form input:focus::placeholder {
    color: gray;
    opacity: 1;
}

.button-home{
    text-decoration: none;
    padding: 16px;
}